*{
    display: block;
    padding-left: 20px;
}

body{
    background-color: aquamarine;
}

ul {
    list-style: none;
    padding-left: 0;
    font-weight: 300;
    line-height: 1.85;
}

ol {
    list-style: none;
    padding: 0;
    font-weight: 300;
    line-height: 1.85;
}